**/*.*
!**/*.js
!**/*.jsx
!**/*.ts
!**/*.tsx
!.rollup.config.js

**/__test__/cases/**
**/__tmp__/**
**/.vscode/**
**/coverage/**
**/demo/**
**/doc/**
**/example/**
**/lib/**
**/node_modules/**
**/*.styl.d.ts
*.tsbuildinfo

utils/mocha/
packages/configuration-master/
packages/typescript-json-schema/test/
