{
  "root": true,
  "extends": ["@guanghechen", "plugin:jest/recommended", "prettier"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "requireConfigFile": false,
    "allowImportExportEverywhere": true
  },
  "rules": {
    "jest/expect-expect": 0,
    "no-prototype-builtins": 0
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "extends": ["@guanghechen/ts", "plugin:jest/recommended", "prettier"],
      "rules": {
        "jest/expect-expect": 0,
        "no-prototype-builtins": 0
      }
    }
  ]
}
