**/*.*
!**/*.js
!**/*.jsx
!**/*.ts
!**/*.tsx


**/.vscode/**
**/__tmp__/**
**/build/**
**/coverage/**
**/demo/**
**/dist/**
**/doc/**
**/example/**
**/lib/**
**/node_modules/**
**/target/**
**/release/**
**/vendor/**
**/*.styl.d.ts
*.tsbuildinfo


.prettierrc
**/__test__/cases/**
**/typescript-json-schema/test/programs/**
